@model FirstApplication.Models.QuestionJobVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/MainLayout/MainLayout.cshtml";
}

<h1>Question For This Job</h1>

<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row" style="padding: 30px;">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Update Question for job @TempData["Name"] </h1>
                                </div>
                            </div>
                            <form asp-area="Genral" asp-controller="QuestionJobs" asp-action="Edit">
                                <div class="form-group">
                                    <label asp-for="Question1"></label>
                                    <input type="text" asp-for="Question1" class="form-control" id="exampleInputFirstName" placeholder="Please Enter Question1">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Question2"></label>
                                    <input type="text" asp-for="Question2" class="form-control" id="exampleInputLastName" placeholder="Please Enter Question1">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Question3"></label>
                                    <input type="text" asp-for="Question3" class="form-control" id="exampleInputLastName" placeholder="Please Enter Location">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Question4"></label>
                                    <input type="text" asp-for="Question4" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Please Enter Question4">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Question5"></label>
                                    <input type="text" asp-for="Question5" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Please Enter Question5">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block" value="Save" />
                                </div>

                            </form>
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

