@model FirstApplication.Models.DeleteRole
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form asp-controller="AspRoles" asp-action="Delete" asp-area="Admin" method="post">
    <div class="form-group">
        <input type="hidden" disabled value="@Model.Id" asp-for="Id" class="form-control" id="exampleInputFirstName" placeholder="Name Role">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" disabled value="@Model.Name" asp-for="Name" class="form-control" id="exampleInputFirstName" placeholder="Name Role">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        <button type="submit" id="btn" class="btn btn-primary btn-block">Delete</button>
    </div>
</form>