@model FirstApplication.Models.JobVm
<div class="text-danger" asp-validation-summary="All"></div>
<form enctype="multipart/form-data" asp-area="Admin" asp-controller="Jobs" asp-action="Update">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputFirstName" placeholder="Enter Name">
    </div>
    <div class="form-group" style="display:none">
        <label asp-for="Job_Id"></label>
        <input type="text" asp-for="Job_Id" class="form-control" id="exampleInputFirstName" placeholder="Enter Name">
    </div>
    <div class="form-group" style="display:none">
        <label asp-for="Date"></label>
        <input type="text" asp-for="Date" class="form-control" id="exampleInputFirstName" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input type="text" asp-for="Location" class="form-control" id="exampleInputLastName" placeholder="Enter Location">
    </div>
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input type="text" asp-for="CompanyName" class="form-control" id="exampleInputLastName" placeholder="Enter Location">
    </div>
    <div class="form-group">
        <label asp-for="Requriments"></label>
        <input type="text" asp-for="Requriments" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Please Requriments of Job">
    </div>
    <div class="form-group">
        <label asp-for="JobDescription"></label>
        <input type="text" asp-for="JobDescription" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Please Requriments of Job">
    </div>
    <div class="form-group">
        <label asp-for="Skills"></label>
        <input type="text" asp-for="Skills" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Please Requriments of Job">
    </div>
    <div class="form-group">
        <label asp-for="Education"></label>
        <input type="text" asp-for="Education" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Please Requriments of Job">
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input type="text" asp-for="Salary" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Please Requriments of Job">
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input type="file" asp-for="Image" name="photo"  class="form-control" id="Photo">
        <div class="text-danger" style="display:none" id="Message_Photo">Please Upload Image</div>
    </div>
    <div class="form-group">
        <label asp-for="Experience"></label>
        <input type="number" asp-for="Experience" class="form-control" id="exampleInputPasswordRepeat"
               placeholder="Please enter Experience">
    </div>
    <div class="form-group">
        <label asp-for="DepId" class="control-label"></label>
        <select name="DepId" required asp-for="DepId" class="form-control custom-select custom-select-lg mb-3" asp-items="@(new SelectList(@ViewBag.DepartmentList ,"DepartmentId","Department_Name"))">
            <option selected>Open this select menu</option>

        </select>
    </div>
    <div class="form-group">
        <label class="control-label" required>Type of Time</label>
        <select class="form-control custom-select custom-select-lg mb-3" asp-for="Time">
            <option value="" selected>Please Choose Type Of Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Full Time">Full Time</option>
            <option value="Remotely">Remotely</option>
        </select>
    </div>
    <div class="form-group">
        <button id="btnUpdateCv" type="submit" class="btn btn-success btn-block">Save Changes</button>
    </div>

</form>
<script>
    var photo = document.getElementById("Photo");
    const btn = document.querySelector('#btnUpdateCv');

    btn.addEventListener('click', function (e) {
        if (photo.files.length == 0) {
            $("#Message_Photo").css("display", "block");
            document.getElementById("btnUpdateCv").type = "button";
        } else {
            $("#Message_Photo").css("display", "none");
            document.getElementById("btnUpdateCv").type = "submit";
        }
    });
</script>